/target/classes/ru/cse/proxysorter/Processors/ProcessorSaveToRepoSorter.class
/target/cxf-codegen-plugin-markers/.B6F9035DDF54E0E896E6B87359A5B11BBB2B6C0F
/target/cxf-codegen-plugin-markers/.D3BEEACAE9C68CA3D1C9FF686A24CFCDA758331D
/target/classes/ru/cse_cargo/measurercargo/FotoCargo.class
/target/classes/ru/cse_cargo/measurercargo/FotoCargoResponse.class
/target/classes/ru/cse_cargo/measurercargo/Measurement.class
/target/classes/ru/cse_cargo/measurercargo/MeasurementResponse.class
/target/classes/ru/cse_cargo/measurercargo/MeasurerCargo.class
/target/classes/ru/cse_cargo/measurercargo/MeasurerCargoPortType.class
/target/classes/ru/cse_cargo/measurercargo/ObjectFactory.class
/target/classes/ru/cse_cargo/measurercargo/package-info.class
/target/classes/ru/cse_cargo/measurercargo/Ping.class
/target/classes/ru/cse_cargo/measurercargo/PingResponse.class
/target/classes/ru/cse_cargo/measurercargo/ResultString.class
